<!DOCTYPE html>
<html>
<head>
	<title>SampleApp - Login</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<%= javascript_include_tag 'login' %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js" %>
</head>
<body>
	<div ng-app="loginApp">
		<div ng-controller="loginController">
			<form name="loginForm" ng-submit="userRegistration()">
				<input ng-model="username" name="username" type="text" placeholder="Username"/><br>
				<input ng-model="email" name="password" type="email" placeholder="Email" /><br>
				<input ng-model="password" name="password" type="password" placeholder="Password" /><br>
				<input type="submit">
				{{username + " " + password}}
			</form>
			{{status}}
		</div>
	</div>
</body>
</html>