<!DOCTYPE html>
<html>
<head>
	<title>Shopping Cart</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/phoneApp.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="phoneApp">
	<div style="float: right; margin: 10px ">
			<button onclick="openCart()" class="cartButton">Cart</button>
		</div>
	<script type="text/javascript">
		hidePhoneDetails = function(){
			$(event.currentTarget).css('display','none');
			$(event.currentTarget).siblings('.countDetails').css('display','block');
		}
		showPhoneDetails = function(){
			$(event.currentTarget).siblings('.phoneDetails').css('display','block');
			$(event.currentTarget).css('display','none');
		}
	</script>
	<div class="overlay" onclick="closeCart()">
	</div>
	<header>
		<h1 align="center">Phones</h1>
		
	</header>
	
	<div  ng-controller="phoneController">

		<!--Phone List -->
		<div class=" w3-card" style="background: auto; width:40%; margin: auto auto 10px auto; padding: 10px" ng-repeat="phone in phones">
			<table width="100%">
				<tr>
					<td rowspan="4" width="40%" align="center"><img ng-src="{{phone.icon}}" height="80%"></td>
					<td colspan="2"><div class="phone_name1">{{phone.name}}</div></td>
				</tr>
				<tr>
					<td colspan="2"><p>Brand: {{phone.brand}}</p></td>
				</tr>
				<tr>
					<td colspan="2"><p>Variant: {{phone.variant}}</p></td>
				</tr>
				<tr>
					<td>{{phone.price | currency:"₹":2}}</td>
					<td align="right" ><button class="add" ng-click="addToCart($index)">Add To Cart</button></td>
				</tr>
			</table>
		</div>

		<!--Shopping Car Side Bar -->
		<div id="shoppingCart" class="sidenav">

			<h2 style="margin-left: 10px">Shopping Cart</h2>
			<a href="javascript:void(0)" class="closebtn" onclick="closeCart()">&times;</a>
			<div class="w3-card" style="height:150px;background: auto; width:95%; margin: auto auto 10px auto"  ng-repeat="phone in cartDetails">
				<table width="100%"  height="145px" cellpadding="0" cellpadding="0">
					<tr>
						<td width="30%"><img ng-src="{{phone.icon}}" height="130px"></td>
						<td align="center" class="phoneDetails" onmouseenter="hidePhoneDetails()" >
							<div >
							<table cellpadding='0' height="140px" >
								<tr>
									<td>
										{{phone.name}}<br>
										Variant: {{phone.variant}}<br>
										Count: {{phone.count}}<br>
										<div style="text-align: right;">{{phone.price | currency:"₹":2}}</div>
									</td>
								</tr>
							</table>
							</div>
						</td>
						<td class="countDetails" style="display: none" onmouseleave="showPhoneDetails()">
							<div>
							<table height="140px" width="100%"> 
								<tr align="center">
									<td id="decrease" width="25%">
										<button class="countButton" ng-click="decreaseQuantity($index)" disabled="true">-</button> </td>
									<td id="count" width="25%">
										<div  class="text">{{phone.count}}</div></td>
									<td id="increase" width="25%">
										<button class="countButton" ng-click="increaseQuantity($index)">+</button></td>
									<td width="25%" ><button class="remove countButton" ng-click="removeFromCart($index)">&times;</button></td>
								</tr>
							</table>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<hr>
			<div align="right" style="padding-right: 10px">
				Total</br>
				<span style="font-size: 20px">{{totalPrice | currency:"₹":2 }}</span>
			</div>
		</div>

	</div>
	<script>
		function openCart(){
			$("#shoppingCart").css('width', "25%");
			$(".overlay").css('display',"block");
		};
		function closeCart(){
			$('#shoppingCart').css('width', '0%');
			$(".overlay").css('display',"none");
		};
	</script>
</body>
</html>